@import "../variables.scss";

.c_link-video-container {

    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    a {
        text-decoration: none;

        img {
            object-fit: cover;
        }
    }
}

.c_languageInfo {
    background-color: $color-1-opacity-75; 
    height: 32px;
}


.c_movieInfo {

    div {
        
        img {
            width: 100%;
            object-fit: cover;
        }

        a {
            text-decoration: none;
        }
    }
}