@import "../variables.scss";

.c_link-video-container {
    a {
        text-decoration: none;

        img {
            object-fit: cover;
        }
    }
}

.c_languageInfo {
    background-color: $color-1-opacity-75; 
    height: 32px;
}