// Variables
@import "../variables.scss";


.dropdown-toggle {

    color:              $color-text;

    img {
        width:          2.5rem; 
        height:         2.5rem; 
        border-radius:  50%; 
        object-fit:     cover;
    }

    &:hover {
        color:          $color-text-hover;
    }

}

.nav-item {

    a {
        color:          $color-text;

        &:hover {
            color:      $color-text-hover;
        }
    }
}