body {
    background-image: linear-gradient(90deg, #0f0c2983 0%, #302b637c 50%, #24243e7e 100%), 
    url('../img/bg_login.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
}

nav a img {
    width: 40px;
}

figure img {
    width: 50%;
    max-width: 100%;
}

@media (min-width: 992px) {
    figure img {
        width: 150px;
    }
}