<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head -->
    <div th:replace="/fragments/template_basic :: head-basic"></div>

    <!-- Customize css -->    
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__sidebar.css">
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__table.css">

</head>
<body class="vw-100 mw-100">

    <header th:replace="/admin/fragments/header :: headerAdmin" class="d-md-none"></header>

    <main class="row w-100 m-0">

        <!-- offcanvas Menu Side bar -->
        <div class="d-md-none offcanvas offcanvas-start w-75 bg-dark p-0" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
            <div class="offcanvas-body p-0">
                <div th:insert="/admin/fragments/sidebar :: sidebar( active = 'genre')"
                    class="bg-primary">
                </div>
            </div>
        </div> <!-- End offcanvas Menu Side bar -->

        <!-- Menu Side bar -->
        <div th:insert="/admin/fragments/sidebar :: sidebar( active = 'genre')"
            class="col-md-4 col-lg-3 col-xl-2 d-none d-md-flex p-0 m-0 bg-primary">
        </div>


        <!-- Content -->
        <div class="col-md-8 col-lg-9 col-xl-10 overflow-auto p-5 vh-100 text-light">

            
            <div class="col-12 col-sm-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">
                
                <div class="d-inline-flex align-items-center mb-3">
                    <img th:src="@{ /resources/icons/form__icon.svg }" alt="" style="width: 42px;">
                    <h2 class="p-0 m-0 text-nowrap ">
                        Insertar Generos
                    </h2>
                </div>

                <!-- Form  -->
                <form th:action="@{/app/administrator/create/genre}" th:object="${genre}" method="post"
                    class="mt-3">

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="idGenre" class="form-label">ID</label>
                        <input type="text" class="form-control" name="idGenre" th:field="*{idGenre}"
                            id="idGenre" readonly>
                    </div>

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="nameGenre" class="form-label">
                            Nombre <span><b>*</b></span> 
                        </label>
                        <input th:classappend="${#fields.hasErrors('nameGenre')} ? 'is-invalid' : ''"
                            type="text" class="form-control" name="nameGenre" th:field="*{nameGenre}"
                            id="nameGenre" placeholder="">
                        <small th:if = "${#fields.hasErrors('nameGenre')}" th:errors = "*{nameGenre}"
                            class="d-block bg-danger text-light py-1 px-3" role="alert"></small>
                    </div>

                    <!-- Button  -->
                    <button type="submit" class="btn btn-cta px-5 mt-3">Enviar</button>

                </form>
            </div>
        </div>

        
    </main>

    <!-- Bootstrap JS -->
    <div th:replace="/fragments/template_basic :: bootstrap_script-popper"></div>

</body>
</html>