<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head -->
    <div th:replace="/fragments/template_basic :: head-basic"></div>

    <!-- Customize css -->    
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__sidebar.css">
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__table.css">

</head>
<body class="vw-100 mw-100">

    <header th:replace="/admin/fragments/header :: headerAdmin" class="d-md-none"></header>

    <main class="row w-100 m-0">

        <!-- offcanvas Menu Side bar -->
        <div class="d-md-none offcanvas offcanvas-start w-75 bg-dark p-0" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
            <div class="offcanvas-body p-0">
                <div th:insert="/admin/fragments/sidebar :: sidebar( active = 'trailer')"
                    class="bg-primary">
                </div>
            </div>
        </div> <!-- End offcanvas Menu Side bar -->

        <!-- Menu Side bar -->
        <div th:insert="/admin/fragments/sidebar :: sidebar( active = 'trailer')"
            class="col-md-4 col-lg-3 col-xl-2 d-none d-md-flex p-0 m-0 bg-primary">
        </div>


        <!-- Content -->
        <div class="col-md-8 col-lg-9 col-xl-10 overflow-auto p-5 vh-100 text-light">

            
            <div class="col-12 col-sm-11 col-lg-10 col-xl-9 col-xxl-8 mx-auto">
                
                <div class="d-inline-flex align-items-center mb-3">
                    <img th:src="@{ /resources/icons/form__icon.svg }" alt="" style="width: 42px;">
                    <h2 class="p-0 m-0 text-nowrap ">
                        Insertar Trailers
                    </h2>
                </div>

                <!-- Form  -->
                <form th:action="@{/app/administrator/create/trailer}" th:object="${trailer}" method="post"
                    class="mt-3">

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="idTrailer" class="form-label">
                            ID video <span><b>*</b></span>
                        </label>
                        <input th:classappend="${#fields.hasErrors('id')} ? 'is-invalid' : ''"
                            type="text" class="form-control" name="id" th:field="*{id}"
                            id="idTrailer" placeholder="">
                        <small th:if = "${#fields.hasErrors('id')}" th:errors = "*{id}"
                            class="d-block bg-danger text-light py-1 px-3" role="alert"></small>
                    </div>

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="titleTrailer" class="form-label">
                            Titulo <span><b>*</b></span> 
                        </label>
                        <input th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''"
                            type="text" class="form-control" name="title" th:field="*{title}"
                            id="titleTrailer" placeholder="">
                        <small th:if = "${#fields.hasErrors('title')}" th:errors = "*{title}"
                            class="d-block bg-danger text-light py-1 px-3" role="alert"></small>
                    </div>

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="movieID" class="form-label">Pelicula perteneciente</label>
                        <div th:if="${lazyMovie.size() > 0}">
                            <div th:if="${trailer.movie != null}">
                                <select id="movieID" class="form-select" name="movieID" >
                                    <option th:selected="${trailer.movie.idMovie == null}">Selecciona una película</option>
                                    <option th:each="movieInfo : ${lazyMovie}" th:value="${movieInfo.getIdMovie}" 
                                        th:selected="${movieInfo.getIdMovie == trailer.movie.idMovie}" th:text="${movieInfo.getName}"></option>
                                </select> 
                            </div>
                            <div th:unless="${trailer.movie != null}">
                                <select id="movieID" class="form-select" name="movieID" >
                                    <option selected>Selecciona una película</option>
                                    <option th:each="movieInfo : ${lazyMovie}" th:value="${movieInfo.getIdMovie}" 
                                        th:text="${movieInfo.getName}"></option>
                                </select> 
                            </div>
                        </div>

                        <div th:unless="${lazyMovie.size() > 0}" class="bg-dark px-3 py-2 rounded">
                            <div class="d-flex justify-content-between align-items-center">
                                <i>No hay películas en la base de datos</i>
                                <div class="btn btn-success">
                                    <a th:href="@{/app/administrator/insert/movie}" style="text-decoration: none;">
                                        Añadir películas
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="languageID" class="form-label">Audio</label>
                        <select id="languageID" class="form-select" name="languageID" >
                            <option th:each="languageInfo : ${lazyLanguage}" 
                                th:value="${languageInfo.getIdLanguage}" 
                                th:selected="${languageInfo.getNameLanguage == trailer.language.nameLanguage}" 
                                th:text="${languageInfo.getNameLanguage != ''} ? ${languageInfo.getNameLanguage} : 'Selecciona un audio' "></option>
                        </select>
                    </div>

                    <!-- Input  -->
                    <div class="mb-3">
                        <label for="subtitleID" class="form-label">Subtitulo</label>
                        <select id="subtitleID" class="form-select" name="subtitleID" >
                                <option th:each="subtitleInfo : ${lazyLanguage}" 
                                    th:value="${subtitleInfo.getIdLanguage}" 
                                    th:selected="${subtitleInfo.getNameLanguage == trailer.subtitle.nameLanguage}" 
                                    th:text="${subtitleInfo.getNameLanguage != ''} ? ${subtitleInfo.getNameLanguage} : 'Selecciona un subtitulo' "></option>
                        </select>
                    </div>

                    <!-- Button  -->
                    <button type="submit" class="btn btn-cta px-5 mt-3">Enviar</button>

                </form>
            </div>
        </div>

        
    </main>


    <!-- Bootstrap JS -->
    <div th:replace="/fragments/template_basic :: bootstrap_script-popper"></div>

</body>
</html>