<footer th:fragment="basic_footer"
    class="mt-5 pb-5 text-light text-center ">
    Copyright &copy; Trailers web 2022
    <div class="mt-1">
        <a href="#" style="text-decoration: none;">
            <img src="/resources/icons/facebook.svg" alt="Link a facebook">
        </a>
        <a href="#" style="text-decoration: none;">
            <img src="/resources/icons/twitter.svg" alt="Link a twitter">
        </a>
        <a href="#" style="text-decoration: none;">
            <img src="/resources/icons/instagram.svg" alt="Link a instagram">
        </a>
    </div>
</footer>