<div th:fragment="trailer_info"
    class="row g-0">

    <!-- Trailer title-->
    <div class="col-12 my-3">
        <!-- Audio icon -->
        <span th:if="${ trailer.getLanguage.getNameLanguage != '' }">
            <img src="/resources/icons/volume__icon.svg" alt="Icono de audio"> 
            <img th:src="${ trailer.getLanguage.getIconLanguage }" 
                th:alt="${ 'Icono de audio ' + trailer.getLanguage.getNameLanguage.toLowerCase() }" 
                style="width: 20px">
        </span>
        <!-- Subtitle icon -->
        <span th:if="${ trailer.getSubtitle.getNameLanguage != '' }">
            <img src="/resources/icons/subtitle__icon.svg" alt="Icono de sutitulo"> 
            <img th:src="${ trailer.getSubtitle.getIconLanguage }"
                th:alt="${ 'Icono de subtitulos en ' + trailer.getSubtitle.getNameLanguage.toLowerCase() }" 
                style="width: 20px">
        </span>

        <span th:if="${ trailer.getLanguage.getNameLanguage != '' || trailer.getSubtitle.getNameLanguage != '' }"> | </span>
        <!-- Title -->
        <span th:text="${trailer.getTitle}" class="h6 ms-1"></span><br>
        <small class="d-flex">
            <img src="/resources/icons/eye__icon.svg" alt="Icono de sutitulo">
            &nbsp; <span th:text="${ trailer.getViews + ' visitas'}"></span> 
        </small>
    </div>

    <!-- Action Buttons -->
    <div class="col-12 ">
        
        <div th:if="${activeSession == true && userObject != null}">
            <div th:replace="/fragments/components/action_buttons :: action_button-session_true"></div>
        </div>

        <div th:if="${activeSession == flase || userObject == null}">
            <div th:replace="/fragments/components/action_buttons :: action_button-session_false"></div>
        </div>
    </div>
</div>