<div th:fragment="trailer_link (object)"
    th:each="trailer : ${__${object}__}" 
    class="col px-3 py-1 c_link-video-container">

    <a th:href="@{/app/trailer/view/{id}(id=${trailer.getId}) }"
        th:title="${trailer.getTitle}" 
        th:data-bs-content-id="${ 'popover' + trailer.getId}" 
        tabindex="0" data-bs-toggle="popover" data-bs-placement="left" 
        data-bs-trigger="hover focus">

        <div class="position-relative overflow-hidden rounded-3">
            <!-- Image -->
            <img th:src="@{${ 'http://i.ytimg.com/vi/' + trailer.getId + '/mqdefault.jpg' }}" 
                th:alt="${ 'Imagen del trailer: ' + trailer.getTitle }" class="w-100 c_img-video">
            <!-- Icons Language -->
            <div th:if="${ trailer.getLanguage.getIdLanguage != '0' || trailer.getSubtitle.getIdLanguage != '0' }"
                class="position-absolute top-0 end-0 p-2 d-flex rounded-3 c_languageInfo">
                <!-- Audio Icon -->
                <div th:if="${ trailer.getLanguage.getIdLanguage != '0' }"
                    class="d-flex">
                    <img src="/resources/icons/volume__icon.svg" 
                        alt="Icono de audio" class="me-1"> 
                    <img th:src="${ trailer.getLanguage.getIconLanguage }" 
                        th:alt="${ 'Icono de audio ' + trailer.getLanguage.getNameLanguage.toLowerCase() }" 
                        style="height: 100%;">
                </div>
                <!-- Subtitle Icon -->
                <div th:if="${ trailer.getSubtitle.getIdLanguage != '0' }"
                    class="d-flex ms-2">
                    <img src="/resources/icons/subtitle__icon.svg" 
                        alt="Icono de subtitulo" class="me-1"> 
                    <img th:src="${ trailer.getSubtitle.getIconLanguage }"
                        th:alt="${ 'Icono de subtitulos en ' + trailer.getSubtitle.getNameLanguage.toLowerCase() }" 
                        style="height: 100%;">
                </div>
            </div>
        </div>
        <p th:text="${ trailer.getTitle }"
            class="text-truncate"></p>
    </a>

    <!-- Popover -->
    <div th:id="${ 'popover' + trailer.getId}" class="d-none">
        <div class="row justify-content-center px-1">
            <div th:each="genre : ${ trailer.getMovie.getGenreList }"
                th:text="${ genre.getNameGenre }"
                class="col-auto bg-secondary text-light rounded-pill m-1"></div>
        </div>
    </div>
</div>