// Variables
@import "./variables.scss";


// Modify Boostrap variables
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/root";

// Create new colors
$custom-colors: (
  "cta": $color-3
);

$theme-colors: map-merge($theme-colors, $custom-colors);


// Colors
$primary:   $color-3;
$dark:      $color-1;

// Inputs
$input-bg:                      $color-1;
$input-border-color:            $color-1;
$input-color:                   $white;
$input-focus-color:             $white;
$input-focus-bg:                $color-1;
$input-focus-border-color:      $color-3;
$input-placeholder-color:       $white;

// Links
$link-color:                $white;
$link-decoration:           underline;
$link-hover-color:          $gray-500;
$link-hover-decoration:     none;

@import "../lib/bootstrap/scss/bootstrap.scss";

// *********************
// * Reglas personalizadas
// *********************

body {
    background-image: $gradient-background
}


form {
  display: grid;
  gap: 1rem;
}