<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Meta tags && title && icon -->
    <div th:replace="/fragments/template_basic_header :: base_header"></div>

    <!-- Bootstrap CSS (Temporally location)-->
    <div th:replace="/fragments/bootstrap_template :: bootstrap_css"></div>

</head>
<body>

    <!-- Nav header -->
    <header th:replace="/fragments/navbar :: navbar_header( active = 'hom' )"></header>

    <!-- Error body -->
    <div th:replace="/fragments/error-body :: error-body( errorCode='403', title='Titulo ERROR', message='Mensajito', errorMessage='a' )"></div>

    <!-- Bootstrap JS -->
    <div th:replace="/fragments/bootstrap_template :: bootstrap_js-basic"></div>

</body>
</html>