<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head -->
    <div th:replace="fragments/template_basic :: head-basic"></div>

    <!-- Customize css -->
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__navbar.css">

</head>
<body>

    <!-- Nav header -->
    <header th:replace="fragments/navbar :: navbar_header( active = 'hom' )"></header>

    <!-- Error body -->
    <div th:replace="fragments/error-body :: error-body( 
        errorCode=${status}, 
        title=${error}, 
        message=${response} ? ${response} : 'Esta página no existe', 
        errorMessage=${errorMessage} ? ${errorMessage} : '' )"></div>

    <!-- Bootstrap JS -->
    <div th:replace="fragments/template_basic :: bootstrap_script-basic"></div>

</body>
</html>