<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Meta tags && title && icon -->
    <div th:replace="/fragments/template_basic_header :: base_header"></div>

    <!-- Bootstrap CSS (Temporally location)-->
    <div th:replace="/fragments/bootstrap_template :: bootstrap_css"></div>

    <!-- Customize css -->
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__navbar.css">

</head>
<body>

    <!-- Nav header -->
    <header th:replace="/fragments/navbar :: navbar_header( active = 'hom' )"></header>

    <!-- Error body -->
    <div th:replace="/fragments/error-body :: error-body( 
        errorCode=${status}, 
        title=${error}, 
        message=${response} ? ${response} : 'Error del servidor', 
        errorMessage=${errorMessage} ? ${errorMessage} : ${message} )"></div>

    <!-- Bootstrap JS -->
    <div th:replace="/fragments/bootstrap_template :: bootstrap_js-basic"></div>

</body>
</html>