// Variables
@import "../variables.scss";

body {
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
}

.c_body-bg-login {
    background-image:   $gradient-background-opacity, 
                        url('/temp/maquetacion/img/bg_login.jpg'); 
}

.c_form-return-arrow {
    width: 40px;
}
  
.c_form-container {
    min-height: 85vh;
}
  
.c_logo-form {
    width: 13rem;
    max-width: 100%;
}


.form-floating {
    position: relative;
}

.c_icon {
    position: absolute;
    top: calc(25%);
    left: 1.15rem;
    font-size: 2rem;
    width: 2rem;
}

.form-floating label, .form-floating .form-control {
    left: .5rem;
    padding-left: 3.5rem;
}
  
@import "../../lib/bootstrap/scss/functions";
@import "../../lib/bootstrap/scss/variables";
@import "../../lib/bootstrap/scss/mixins";


@include media-breakpoint-up(lg) {

    .c_logo-form {
        width: 13rem;
    }
    
}