<h1>HOMLA PAMPHU CON SUELDO MINIMO</h1><!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Meta tags && title && icon -->
    <div th:replace="/fragments/template_basic_header :: base_header"></div>

    <!-- Bootstrap CSS (Temporally location)-->
    <div th:replace="/fragments/bootstrap_template :: bootstrap_css"></div>

    <!-- Customize css -->
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__navbar.css">
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__home.css">

</head>
<body>

    <!-- Nav header -->
    <header th:replace="/fragments/navbar :: navbar_header( active = '' )"></header>

    <main>
        <div th:replace="/admin/fragments/response :: bad-response"></div>

        <div th:text="${error}"></div>
    </main>


    <!-- Bootstrap JS -->
    <div th:replace="/fragments/bootstrap_template :: bootstrap_js-basic"></div>

</body>
</html>