<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS (Temporally location)-->
    <link type="text/css" rel="stylesheet" href="./css/styles.css">

    <!-- Customize css -->
    <link type="text/css" rel="stylesheet" href="./css/customize__navbar.css">
    <link type="text/css" rel="stylesheet" href="./css/customize__home.css">

    <!-- Header styles -->
    <link rel="icon" href="./icons/main__icon.png">
    <title>Home</title>

</head>
<body>

    <!-- Nav header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
            <div class="container-fluid">

                <!-- Hamburguer Menu -->
                <button class="navbar-toggler" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#navbarPage" 
                        aria-controls="navbarPage" aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand" href="#">
                    <img src="./icons/main__icon.png" alt="">
                </a>

                <!-- Nav Menu Container  -->
                <div class="collapse navbar-collapse" id="navbarPage">
                    <!-- Links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">

                        <!-- User Profile Button -->
                        <li class="nav-item dropdown mt-3 mt-lg-0 ms-lg-3 order-lg-1">

                            <!-- Button Dropdown -->
                            <button class="nav-link w-100 dropdown-toggle me-auto py-1 px-2 btn btn-primary c_btn-user-profile" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                <img src="https://i.ytimg.com/vi/fykmLCRzlwc/maxresdefault.jpg" alt="Avatar de perfil de usuario" width="100%">
                                <span class="ms-2 ms-lg-1 tex-truncate">IRypS</span>
                            </button>

                            <!-- Dropdown Menu  -->
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Perfil de usuario</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#" class="d-grid">
                                        <img src="./icons/log-out__icon.svg" alt="Icono de salir" class="m">
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Register button -->
                        <!-- <li class="nav-item me-lg-2">
                            <button class="nav-link mt-3 mt-lg-0 ms-auto py-2 px-3 btn btn-cta c_btn-user-profile" role="button">
                                <span class="ms-2 ms-lg-0 tex-wrap text-light">Iniciar Sesion</span>
                            </button>
                        </li> -->
                        
                        <!-- Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" 
                                href="/temp/maquetacion/home.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trailers</a>
                        </li>

                    </ul>

                    <!-- Search bar -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" 
                                placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- Hero section -->
        <section class="py-5 px-2 w-100 h-50 
                        d-flex flex-column justify-content-center align-items-center gap-4 
                        text-center text-white c_bg-hero ">
            <h1 class="h1">Trailers Web</h1>
            <p class="h6">
                Todos los trailers a un solo click <br>
                Entérate de los últimos filmes antes que nadie
            </p>
            <button class="btn btn-cta btn-lg">
                Ver trailers
            </button>
        </section>

        <!-- Register cta -->
        <section class="container my-5 text-light">
            <div class="row">
                <div class="col-12 col-lg-9 text-center text-lg-start">
                    <h2>¿Ya tienes una cuenta?</h2>
                    <p>Con una cuenta podrás tener una experiencia más personalizada, listar tus trailers preferidos y ¡mucho más!</p>
                    <button class="btn btn-cta">Registrarse</button>
                </div>
                <div class="col-12 col-lg-auto d-flex">
                    <img src="/temp/maquetacion/img/popcorn.png" alt="" class="h-100 mx-auto">
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="mt-5 pb-5 text-light text-center ">
        Copyright &copy; Trailers web 2022
        <div class="mt-1">
            <a href="#" alt="" style="text-decoration: none;">
                <img src="/temp/maquetacion/icons/facebook.svg" alt="">
            </a>
            <a href="#" alt="" style="text-decoration: none;">
                <img src="/temp/maquetacion/icons/twitter.svg" alt="">
            </a>
            <a href="#" alt="" style="text-decoration: none;">
                <img src="/temp/maquetacion/icons/instagram.svg" alt="">
            </a>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>