<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head -->
    <div th:replace="/fragments/template_basic :: head-basic"></div>

    <!-- Customize css -->
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__navbar.css">
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__trailer-preview.css">

</head>
<body>

    <!-- Nav header -->
    <header th:replace="/fragments/navbar :: navbar_header( active = 'trailers' )"></header>

    <main class="container mt-4 mt-lg-5 overflow-hidden">
        <div class="row gy-3 gx-5 justify-content-center text-light">

            
            <!-- Trailers -->
            <div class="col-lg-10 text-light" th:if="${trailersList == null}">
                <h4>Resultados:</h4>
                <div>
                    La lista es nula
                </div>
            </div>
            <div class="col-lg-10" th:unless="${trailersList == null}">
                <h4>Resultados:</h4>
                <div th:if="${trailersList.size == 0}">No hay datos coincidentes</div>

                <div th:unless="${trailersList.size == 0}"
                    class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xxl-5 pt-1">
                    <div th:replace="/fragments/trailer_link :: trailer_link( object='trailersList' )">
                </div>

            </div>
            
            <!-- TrailerPaginationNav -->
            <div th:if="${pages != null}">

                <div th:if="${!pages.isEmpty()}" th:replace="/fragments/pagination_nav :: pagination_nav( generalPath='/app/trailers', 
                    pageList='pages', prev=${pagesInfo.get('prev')}, current=${pagesInfo.get('current')},
                    next=${pagesInfo.get('next')}, last=${pagesInfo.get('last')}, )">
                </div>
            </div>
            
        </div>
    </main>

    <!-- Footer -->
    <div th:replace="/fragments/footer :: basic_footer"></div>

    <!-- Bootstrap JS -->
    <div th:replace="/fragments/template_basic :: bootstrap_script-popper"></div>

    <!-- Customm Js -->
    <script src="/utils/autoadjust_16-9__video-proportions.js"></script>
</body>
</html>