<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS (Temporally location)-->
    <link type="text/css" rel="stylesheet" href="/styles/css/styles.css">

    <!-- Customize css -->
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__navbar.css">
    <link type="text/css" rel="stylesheet" href="/styles/css/customize__trailer-preview.css">

    <!-- Header styles -->
    <link rel="icon" href="/resources/icons/main_icon.ico">
    <title th:text="${title}">...</title>

</head>
<body>

    <!-- Nav header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
            <div class="container-fluid">

                <!-- Hamburguer Menu -->
                <button class="navbar-toggler" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#navbarPage" 
                        aria-controls="navbarPage" aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img src="/resources/icons/main_icon.ico" alt="Logotipo de la pagina web">
                </a>

                <!-- Nav Menu Container  -->
                <div class="collapse navbar-collapse" id="navbarPage">
                    <!-- Links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">

                        <!-- User Profile Button -->
                        <li th:if="${activeSession == true}"
                            class="nav-item dropdown mt-3 mt-lg-0 ms-lg-3 order-lg-1">

                            <!-- Button Dropdown -->
                            <button class="nav-link dropdown-toggle w-100 me-auto py-1 px-2 
                                    btn btn-primary c_btn-user-profile" 
                                    data-bs-toggle="dropdown" 
                                    role="button" 
                                    aria-expanded="false">
                                <img src="https://i.ytimg.com/vi/fykmLCRzlwc/mqdefault.jpg" alt="Avatar de perfil de usuario" width="100%">
                                <span class="ms-2 ms-lg-1 tex-truncate">IRypS</span>
                            </button>

                            <!-- Dropdown Menu  -->
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Perfil de usuario</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/">
                                        <img src="/resources/icons/log-out__icon.svg" alt="Icono de cerrar sesión">
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Register button -->
                        <li th:if="${activeSession == false}"
                            class="nav-item me-lg-2">
                            <a href="/account/login"
                                class="nav-link mt-3 mt-lg-0 ms-auto py-2 px-3 
                                btn btn-cta c_btn-user-profile" role="button">
                                <span class="ms-2 ms-lg-0 tex-wrap text-light">Iniciar Sesion</span>
                            </a>
                        </li>
                        
                        <!-- Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/app/trailers">Trailers</a>
                        </li>

                    </ul>

                    <!-- Search bar -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" 
                                placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-4 mt-lg-5 overflow-hidden">
        <div class="row gy-3 gx-5">
            <!-- Filter -->
            <aside class="col-lg-3 text-light d-grid">

                <!-- Accordion -->
                <div class="accordion accordion-flush" id="accordionFlushFilter">

                    <!-- Header Filter -->
                    <div class="bg-secondary rounded">
                        <p class="h4 p-3 text-center" style="height: 100%;">Filter</p>
                    </div>

                    <!-- Genre Filter -->
                    <div class="accordion-item">
                        <!-- Header -->
                        <h2 class="accordion-header" id="flush-genres">
                            <button class="accordion-button collapsed" type="button" 
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseGenres" 
                                    aria-expanded="false" aria-controls="flush-collapseGenres">
                                Por Género
                            </button>
                        </h2>
                        <!-- Collapse -->
                        <div id="flush-collapseGenres" class="accordion-collapse collapse" 
                            aria-labelledby="flush-genres" data-bs-parent="#accordionFlushFilter">
                            <div class="accordion-body">

                                <!-- Genres Each  -->
                                <div th:each=" category : ${categoriesList}"
                                    class="form-check">
                                    <input th:value="${category.getName.toLowerCase()}" 
                                        th:id="check + ${category.getName}"
                                        class="form-check-input" type="checkbox" >
                                    <label th:text="${category.getName}"
                                        th:for="check + ${category.getName}"
                                        class="form-check-label" >
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Audio Filter -->
                    <div class="accordion-item">
                        <!-- Header -->
                        <h2 class="accordion-header" id="flush-audio">
                            <button class="accordion-button collapsed" type="button" 
                                    data-bs-toggle="collapse" data-bs-target="#flush-collpaseAudio" 
                                    aria-expanded="false" aria-controls="flush-collpaseAudio">
                                Por Audio
                            </button>
                        </h2>
                        <!-- Collapse -->
                        <div id="flush-collpaseAudio" class="accordion-collapse collapse" 
                            aria-labelledby="flush-audio" data-bs-parent="#accordionFlushFilter">
                            <div class="accordion-body">

                                <!-- Audio Each  -->
                                <div th:each=" audio : ${languagesList}"
                                    class="form-check">
                                    <input th:value="${audio.getNameLanguage.toLowerCase()}" 
                                        th:id="check + ${audio.getNameLanguage}"
                                        class="form-check-input" type="checkbox" >
                                    <label th:text="${audio.getNameLanguage}"
                                        th:for="check + ${audio.getNameLanguage}"
                                        class="form-check-label" >
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Subtitle Filter -->
                    <div class="accordion-item">
                        <!-- Header -->
                        <h2 class="accordion-header" id="flush-subtitle">
                            <button class="accordion-button collapsed" type="button" 
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseSubtitle" 
                                    aria-expanded="false" aria-controls="flush-collapseSubtitle">
                                Por Subtitulos
                            </button>
                        </h2>
                        <!-- Collapse -->
                        <div id="flush-collapseSubtitle" class="accordion-collapse collapse" 
                            aria-labelledby="flush-subtitle" data-bs-parent="#accordionFlushFilter">
                            <div class="accordion-body">

                                <!-- Subtitle Each  -->
                                <div th:each=" subtitle : ${languagesList}"
                                    class="form-check">
                                    <input th:value="${subtitle.getNameLanguage.toLowerCase()}" 
                                        th:id="check + ${subtitle.getNameLanguage}"
                                        class="form-check-input" type="checkbox" >
                                    <label th:text="${subtitle.getNameLanguage}"
                                        th:for="check + ${subtitle.getNameLanguage}"
                                        class="form-check-label" >
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Country Filter -->
                    <div class="accordion-item">
                        <!-- Header -->
                        <h2 class="accordion-header" id="flush-country">
                            <button class="accordion-button collapsed" type="button" 
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseCountries" 
                                    aria-expanded="false" aria-controls="flush-collapseCountries">
                                Por País
                            </button>
                        </h2>
                        <!-- Collapse -->
                        <div id="flush-collapseCountries" class="accordion-collapse collapse" 
                            aria-labelledby="flush-country" data-bs-parent="#accordionFlushFilter">
                            <div class="accordion-body">
                                <!-- Countries Each -->
                                <div th:each=" country : ${countriesList}"
                                    class="form-check">
                                    <input th:value="${country.getCountryname.toLowerCase()}" 
                                        th:id="check + ${country.getCountryname}"
                                        class="form-check-input" type="checkbox">
                                    <label th:text="${country.getCountryname}"
                                        th:for="check + ${country.getCountryname}"
                                        class="form-check-label">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- Trailers -->
            <div class="col-lg-9">
                <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xxl-5 pt-1">

                    <!-- Trailers Divs-->
                    <div th:each="trailer : ${trailersList}" 
                        class="col px-3 py-1 c_link-video-container">

                        <a th:href="@{/app/trailer/view/{id}(id=${trailer.getId}) }"
                            th:title="${trailer.getTitle}" tabindex="0" data-bs-toggle="popover" 
                            data-bs-placement="right" data-bs-content-id="popover-categories" 
                            data-bs-trigger="hover focus">

                            <div class="position-relative overflow-hidden rounded-3">
                                <!-- Image -->
                                <img th:src="@{${ trailer.getImageUrl }}" 
                                    th:alt="${trailer.getTitle}" class="w-100 c_img-video">
                                <!-- Icons Language -->
                                <div class="position-absolute top-0 end-0 p-2 d-flex rounded-3 c_languageInfo">
                                    <!-- Audio Icon -->
                                    <div th:if="${ trailer.getLanguageId != null }"
                                        class="d-flex">
                                        <img src="/resources/icons/volume__icon.svg" 
                                            alt="Icono de audio" class="me-1"> 
                                        <img th:src="${ languagesMap.get(trailer.getLanguageId).getIconLanguage }" 
                                            th:alt="${ 'Icono de audio ' + languagesMap.get(trailer.getLanguageId).getNameLanguage.toLowerCase() }" 
                                            style="height: 100%;">
                                    </div>
                                    <!-- Subtitle Icon -->
                                    <div th:if="${ trailer.getSubtitleId != null }"
                                        class="d-flex ms-2">
                                        <img src="/resources/icons/subtitle__icon.svg" 
                                            alt="Icono de subtitulo" class="me-1"> 
                                        <img th:src="${ languagesMap.get(trailer.getSubtitleId).getIconLanguage }"
                                            th:alt="${ 'Icono de subtitulos en ' + languagesMap.get(trailer.getLanguageId).getNameLanguage.toLowerCase() }" 
                                            style="height: 100%;">
                                    </div>
                                </div>
                            </div>
                            <p th:text="${ trailer.getTitle }"
                                class="text-truncate">Trailer</p>
                        </a>

                        <!-- Popover -->
                        <div id="popover-categories" class="d-none">
                            <div class="row justify-content-center">
                                <div class="col-auto bg-secondary text-light rounded-pill m-1">Comedia</div>
                                <div class="col-auto bg-secondary text-light rounded-pill m-1">Romance</div>
                                <div class="col-auto bg-secondary text-light rounded-pill m-1">Accion</div>
                                <div class="col-auto bg-secondary text-light rounded-pill m-1">Sci-fi</div>
                                <div class="col-auto bg-secondary text-light rounded-pill m-1">Thriller</div>
                                <div class="col-auto bg-secondary text-light rounded-pill m-1">Comedia</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </main>

    <!-- Footer -->
    <footer class="mt-5 pb-5 text-light text-center ">
        Copyright &copy; Trailers web 2022
        <div class="mt-1">
            <a href="#" style="text-decoration: none;">
                <img src="/resources/icons/facebook.svg" alt="Link a facebook">
            </a>
            <a href="#" style="text-decoration: none;">
                <img src="/resources/icons/twitter.svg" alt="Link a twitter">
            </a>
            <a href="#" style="text-decoration: none;">
                <img src="/resources/icons/instagram.svg" alt="Link a instagram">
            </a>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="/utils/popper.min.js"></script>
    <script src="/utils/bootstrap.js"></script>
    <!-- Enable tooltips -->
    <script src="/utils/enablePopovers.js"></script>

    <!-- Customm Js -->
    <script src="/utils/autoadjust__video-proportions.js"></script>
</body>
</html>