// *********************
// * Patron de colores
// *********************

$gradient-background:           linear-gradient(90deg, #0F0C29 0%, #302B63 50%, #24243E 100%);
$gradient-background-opacity:   linear-gradient(90deg, #0f0c2983 0%, #302b637c 50%, #24243e7e 100%);

$color-1:           #0F0C29;
$color-1-opacity:   #0f0c2980; //color 1 - opacity
$color-2:           #302B63;
$color-3:           #2B396B;
$color-3-hover:     #1f2c5c;
$color-4:           #900808;