

<header th:fragment="headerAdmin" class="d-md-none">
    <nav class="navbar px-4 justify-content-md-end">

        <!-- Hamburguer Menu -->
        <button class="btn" type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#sideBar" aria-controls="sideBar">

            <img th:src="@{ /resources/icons/menu__icon.svg }" style="width: 2.25rem">
        </button>
        
        <img th:src="@{ /resources/icons/main_icon.ico }" style="height: 2.5rem;">
    </nav>
</header >